@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Set custom variables here */



:root {
  --body-bg: #F6F3ED;
  --primary-color: rgb(46, 72, 58); 
  --primary-rgb: rgb(46, 72, 58);
  --light-color: rgb(246, 243, 237);
}

body {
  background-color: var(rgb(246, 243, 237));
}

.navbar {
  background-color: var(rgb(46, 72, 58));
}

.nav-link {
  color: rgb(211, 211, 211); 
}

.nav-link.active,
.nav-link.text-white {
  color: rgb(255, 255, 255); 
}

.navbar-toggler {
  background-color: transparent; 
  border: none;
}

.navbar-toggler .navbar-toggler-icon {
  background-color: rgb(211, 211, 211);
}



body {
  font-family: "Sarala", sans-serif;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

#hero {
  height: 800px;
  background-color: #E4E6DB;
  background-image: url(../images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero .d-flex {
  height: 800px;
}

#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
}

footer {
  background-color: var(rgb(46, 72, 58));
}

